**Context**


Este conjunto de datos forma parte de mi tesis de maestría "Sistema de monitoreo de colmenas inteligente basado en aprendizaje automático sin red de Internet".
Datos recopilados de las colmenas número 17, 36 y 85 en un colmenar ubicado en Çanakkale, Turquía.

Los datos se utilizaron con algoritmos de detección de anomalías no supervisados ​​para determinar los valores críticos de temperatura y humedad relativa para calibrar el sistema de alarma.

Los resultados mostraron que las anomalías fatales se pueden detectar semanas antes de la pérdida de la colonia.

**Contenido**

+1000 filas y 10 columnas.
La descripción de las columnas se enumera a continuación.

* *DateTime* : Fecha y hora en formato "dd.mm.aaaa hh:mm"
* *T17* : Temperatura de la colmena 17
* *RH17* : Humedad relativa de la colmena 17
* *AT17* : Temperatura aparente de la colmena 17
* *Tamb* : Temperatura ambiente
* *RHamb* : Humedad relativa ambiente
* *ATamb* : Temperatura ambiente aparente
* *T17-Tamb* : T17 - Tamb
* *AT17-ATamb* : AT17 - ATamb

In [42]:
import pandas as pd

df_hive17 = pd.read_csv('Hive17.csv',sep=';')
df_hive36 = pd.read_csv('Hive36.csv',sep=';')
df_hive85 = pd.read_csv('Hive85.csv',sep=';')
df_hive17.columns

Index(['Hour', 'DateTime', 'T17', 'RH17', 'AT17', 'Tamb', 'RHamb', 'ATamb',
       'T17-Tamb', 'AT17-ATamb'],
      dtype='object')

In [43]:
df_hive17['Hive'] = 17
df_hive17 = df_hive17.rename(columns={'T17': 'T', 
                          'RH17': 'RH', 
                          'AT17': 'AT',
                          'T17-Tamb':'T-Tamb',
                          'AT17-ATamb':'AT-ATamb'})
df_hive17.head()

,Hour,DateTime,T,RH,AT,Tamb,RHamb,ATamb,T-Tamb,AT-ATamb,Hive
0,1,21.08.2021 14:00,32.8,47,36.6,28.8,33,29.1,4.0,7.5,17
1,2,21.08.2021 15:00,33.3,46,37.1,28.8,36,29.5,4.5,7.6,17
2,3,21.08.2021 16:00,33.5,46,37.4,28.9,35,29.5,4.6,7.9,17
3,4,21.08.2021 17:00,33.8,49,38.5,28.5,36,29.1,5.3,9.3,17
4,5,21.08.2021 18:00,33.8,51,38.8,27.5,40,28.4,6.3,10.4,17

In [44]:
df_hive17.shape

(1847, 11)

In [45]:
df_hive36['Hive'] = 36
df_hive36 = df_hive36.rename(columns={'T36': 'T', 
                          'RH36': 'RH', 
                          'AT36': 'AT',
                          'T36-Tamb':'T-Tamb',
                          'AT36-ATamb':'AT-ATamb'})
df_hive36.head()

,Hour,DateTime,T,RH,AT,Tamb,RHamb,ATamb,T-Tamb,AT-ATamb,Hive
0,1847,6.11.2021 12:00,29.2,66,34.3,23.6,49,24.3,5.6,10.0,36
1,1848,6.11.2021 13:00,27.3,71,31.9,25.1,43,25.5,2.2,6.4,36
2,1849,6.11.2021 14:00,28.3,69,33.2,25.7,40,26.0,2.6,7.3,36
3,1850,6.11.2021 15:00,29.3,67,34.5,24.6,49,25.6,4.7,8.9,36
4,1851,6.11.2021 16:00,30.1,66,35.5,23.4,51,24.2,6.7,11.3,36

In [46]:
df_hive36.shape

(4227, 11)

In [47]:
df_hive85['Hive'] = 85
df_hive85 = df_hive85.rename(columns={'T85': 'T', 
                          'RH85': 'RH', 
                          'AT85': 'AT',
                          'T85-Tamb':'T-Tamb',
                          'AT85-ATamb':'AT-ATamb'})
df_hive85.head()

,Hour,DateTime,T,RH,AT,Tamb,RHamb,ATamb,T-Tamb,AT-ATamb,Hive
0,1,21.08.2021 14:00,36.3,78,48.4,28.8,33,29.1,7.5,19.3,85
1,2,21.08.2021 15:00,34.9,83,46.7,28.8,36,29.5,6.1,17.1,85
2,3,21.08.2021 16:00,34.1,87,45.9,28.9,35,29.5,5.2,16.4,85
3,4,21.08.2021 17:00,34.2,89,46.5,28.5,36,29.1,5.7,17.4,85
4,5,21.08.2021 18:00,33.9,90,46.2,27.5,40,28.4,6.4,17.8,85

In [48]:
df_hive = pd.merge(df_hive17,df_hive36,how='outer').merge(df_hive85,how='outer')
df_hive.head()

,Hour,DateTime,T,RH,AT,Tamb,RHamb,ATamb,T-Tamb,AT-ATamb,Hive
0,1,21.08.2021 14:00,32.8,47,36.6,28.8,33,29.1,4.0,7.5,17
1,2,21.08.2021 15:00,33.3,46,37.1,28.8,36,29.5,4.5,7.6,17
2,3,21.08.2021 16:00,33.5,46,37.4,28.9,35,29.5,4.6,7.9,17
3,4,21.08.2021 17:00,33.8,49,38.5,28.5,36,29.1,5.3,9.3,17
4,5,21.08.2021 18:00,33.8,51,38.8,27.5,40,28.4,6.3,10.4,17

In [49]:
df_hive['Hive'].value_counts()

85    6073
36    4227
17    1847
Name: Hive, dtype: int64